#fileInput {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 25px; /* Радиус закругления углов */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
audio {
    background: #333; 
    border-radius: 25px; /* Радиус закругления углов */
}

#fileInput:hover, #UploadBtn:hover, #EditAudioBtn:hover {
    background-color: #808080;
}
h3 {
    font-size: 1.4em; /* Размер шрифта */
    font-weight: normal; /* Обычный (не жирный) шрифт */
    color: #333; /* Цвет текста */
    margin: 20px 0; /* Внешние отступы */
}

#UploadBtn, #EditAudioBtn {
    background: #333; /* цвет фона кнопки */
    color: #fff; /* цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 25px; /* Радиус закругления углов */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
}

#EditAudioBtn {
    height: 2em;
    text-align: center; /* выравнивание текста по центру */
    line-height: inherit; /* выравнивание по вертикали */

}
